*{
    padding: 0;
    margin: 0;
}
.ul-container{
    display: flex;
    background-color:rgb(230, 228, 227);
    justify-content: center;
    list-style: none;
    padding-top: 20px;
    height: 60px;
}
a {
    text-decoration: none;
    color: rgb(111, 110, 110);
}
.link-item{
    padding: 8px 3vw;
    text-decoration: aliceblue;
    font-size: 20px;
}
.btn{
    padding: 5px 20px;
    background-color:rgb(251, 251, 250) ;
    border-style: none;
    font-size: 20px;
    border-radius: 5px;
}
.img-h{
    padding-left: 20px;
}
.link-item :hover{
    color: black;
}


