label {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    margin: 5px;
    position: relative;

  }
  form {
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    padding-top: 50px;
  }

  button {
    background-color: rgb(31, 31, 31);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  input{
    font-size: 18px;
    padding: 3px;
    margin: 5px;
    width: 300px;
  }


